.contactListDisplay{
    list-style-type: none;
}
.createNewContactButton{
    color: black;
    background-color: green;
}
.contactMenuCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contactName{
 color: chocolate;
 flex: 1;
 float: left;
}

.EditContact{
    color: #5c56bb;
    padding: 15px;
    cursor: pointer;
    float: right;
}

.DeleteContact{
    color: red;
    padding: 15px;
    cursor: pointer;
    float: right;
}

.contactNumber{

}